In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [69]:
dfx=pd.read_csv('Training Data/Diabetes_XTrain.csv')
dfy=pd.read_csv('Training Data/Diabetes_YTrain.csv')
dfxt=pd.read_csv('Testing Data/Diabetes_Xtest.csv')

In [70]:
x=dfx.values
y=dfy.values
xt=dfxt.values
y=y.reshape((-1,))

In [71]:
def distance(x1, x2):
    return np.sqrt(sum((x1-x2)**2))

def KNN(x, y, xt, k=int(np.sqrt(x.shape[0]))):
    l=[]
    for i in range(xt.shape[0]):
        val=[]
        for j in range(x.shape[0]):
            d=distance(xt[i], x[j])
            val.append((d, y[j]))
        val=sorted(val)
        val=val[:k]
        val=np.array(val)
        nval=np.unique(val[:1], return_counts=True)
        index=nval[1].argmax()
        pred=nval[0][index]
        l.append(pred)
    return l

In [72]:
a=KNN(x, y, xt)
print(a)

[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]

In [73]:
pd.DataFrame(a).to_csv("Y.csv", header="Outcome", index=None)

In [74]:
v=pd.read_csv('Y.csv')
v.head()

     0
0  1.0
1  0.0
2  0.0
3  0.0
4  0.0